!!!
%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= @title
    %link(rel='stylesheet' href='css/bootstrap.min.css')
    %link(rel='stylesheet' href='css/app.css')
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand(href='./')= @title

    .container
      != yield
